.allStoryPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px;
}

.storyCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
}

.storyCard h2 {
  margin-bottom: 10px;
  color: #333;
}

.storyCard p {
  color: #666;
}

.storyCard:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
