body {
  font-family: Arial, sans-serif;
  background-color: rgba(68, 73, 100, 1);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.allStoryPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.storyCard {
  height: 245px;
  width: 190px;
  border-radius: 5px;
  background-color: darkblue;
  margin: 50px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
}

.allStoryPage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 100px;
}
