.Navbar {
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  background-color: rgb(62, 67, 95);
  color: white;
  padding: 0 2rem;
}

.Navbar a {
  color: inherit;
  text-decoration: none;
}

.Navbar li {
  padding: 5px;
  transition: all 1s ease-in-out;
}

.Navbar li:hover {
  transform: translateY(-0.25rem);
  transition: all 200ms ease-in-out;
}

.Navbar a.active {
  color: rgb(112, 126, 140);
}

.Navbar ul {
  height: 100%;
  display: flex;
  margin-right: 1rem;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

.Navbar-left,
.Navbar-right {
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
}

.Navbar-right {
  margin-right: 1rem;
  justify-content: flex-end;
}
