body {
  font-family: Arial, sans-serif;
  background-color: rgba(68, 73, 100, 1);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  background-color: white;
  border-radius: 5px;
}

.allStoryPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.storyCard {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: rgb(205, 161, 49);
}

.storyCard:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.storyCard h2 {
  color: rgb(27, 37, 98);
  margin-bottom: 10px;
}

.storyCard p {
  color: rgb(27, 37, 98);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}
